<launch>
  <!-- kinova paramter-->
  <arg name="arm" default="gen3"/>
  <arg name="dof" default="6"/>
  <arg name="vision" default="false"/> 
  <arg name="gripper" default="robotiq_2f_85"/>
  <arg name="prefix" default=""/>
  <!-- <arg name="mech_image" default="false"/> -->
  <arg name="mech_available" default="true"/>

  <!-- Start Rviz -->
  <arg name="start_gen3_rviz" default="true"/>

  <!-- aruco marker detector -->  
  <include file="$(find kimm_aruco)/launch/kimm_aruco_publisher.launch">
    <arg name="start_aruco_rviz" default="false"/>
    <!-- <arg name="mech_image" value="$(arg mech_image)"/> -->
  </include>

  <!-- mechmind -->
  <group if="$(arg mech_available)">
    <include file="$(find tcp_ros)/launch/tcp_client.launch">
    </include>
    <node pkg="tcp_ros" name="mech_clent" type="test_client.py" output="screen"> 
    </node>
  </group>

  <!-- kinova kortex -->
  <node name="kimm_gen3_pnp_v1" pkg="kimm_gen3_pnp" args="-keyboard" type="kimm_gen3_pnp_v1" output="screen">
    <param name="port_number" type="int" value="10000"/>
    <param name="port_realtime_number" type="int" value="10001"/>
    <param name="ip_address" type="string" value="192.168.1.10"/>
    <param name="username" type="string" value="admin"/>
    <param name="password" type="string" value="admin"/>  

    <!-- for joint names -->
    <rosparam command="load" file="$(find kortex_description)/arms/$(arg arm)/$(arg dof)dof/config/joint_limits.yaml" subst_value="true"/>
    <rosparam command="load" file="$(find kortex_description)/grippers/$(arg gripper)/config/joint_limits.yaml" unless="$(eval not arg('gripper'))" subst_value="true"/>
  </node>

  <!-- robot publish -->  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find myrobot_description)/$(arg dof)dof/gen3_robotiq_2f_85_d435.xacro dof:=$(arg dof) vision:=$(arg vision) sim:=false"/>      
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="use_tf_static"     value="false"/>
    <param name="publish_frequency" value="100"/>
    <param name="ignore_timestamp" value="true"/>
    <remap from="joint_states"     to="/kimm_gen3_pnp/joint_states" />
  </node>
  
  <!-- rviz -->
  <node name="kimm_rviz" pkg="rviz" type="rviz" args="-d $(find kimm_gen3_pnp)/rviz/gen3_rviz.rviz -f base_link" required="true" output="screen" if="$(arg start_gen3_rviz)"/>
  
</launch>
